<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<% if(err){ %>
<%= err.message %>
<% } %>
<form action="/user/login" method="post">
    <label>
        Username:<input name="username">
    </label>
    <label>
        Password:<input name="password">
    </label>
    <input type="submit" value="Login">
</form>
</body>
</html>
